<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <p>Wellcome Home</p>

    <!-- <div class="container-sm">
        <div class="row">
            <div class="col-lg-3">a</div>
            <div class="col-lg-3" style="text-align: center;">a</div>
            <div class="col-lg-3" style="text-align: center;">a</div>

        </div>
    </div> -->
    <div class="topnav">
        <!-- <a class="active" href="#home">Home</a> -->
        <!-- thêm / vô đường dẫn link home -->
        <a class="" href="/">Home</a>
        <a href="/create">Create Users</a>
        <a href="/api/v1/auth/signin">Login</a>
    </div>
    <img src="/img/home.png" alt="" srcset="" width="500px" height="500px">



</body>

</html>