<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HEALTHCARE</title>
    <link rel="icon" href="/img/Logo.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/testhome.css" />
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container-main">
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
            <a class="navbar-brand" style="font-weight: bold; color: blue" href="#"><img src="/img/Logo.png"
                    height="50px" width="50px" alt="" />HEALTHCARE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Introduce</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="container content-section">
            <h1>HEALTH MONITORING SYSTEM</h1>
            <p>Accompanying you on your journey of health care. Every day is a day full of energy and happiness.</p>
            <a href="/api/v1/auth/signin" class="btn btn-login">Sign In</a>
        </main>
        <footer class="footer-custom">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Categories</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Medications</a></li>
                            <li><a href="#">Disease Lookup</a></li>
                            <li><a href="#">Medical Devices</a></li>
                            <li><a href="#">Health Care</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Free Consultation</h3>
                        <p>
                            Support Consultation:
                            <a href="" style="color: blue; text-decoration: none; font-weight: bold">0971276261</a>
                            <br />Get more than you give
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>Follow Us</h3>
                        <ul class="list-unstyled" style="padding-left: 50px">
                            <li>
                                <a href="https://www.facebook.com/groups/Shophanghanchinhhang"><img
                                        src="/img/logoFacebook.svg" style="height: 30px; width: 30px" alt="" />
                                    Facebook</a>
                            </li>
                            <li>
                                <a href="#"><img src="/img/logoYoutube.svg" style="height: 30px; width: 30px" alt="" />
                                    Youtube</a>
                            </li>
                            <li>
                                <a href="#"><img src="/img/logoZalo.svg" style="height: 30px; width: 30px" alt="" />
                                    Zalo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>